<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" th:href="@{/css/calendar.css}">
<link rel="stylesheet" th:href="@{/css/elements.css}">
<head th:replace="fragments/chief/header_chief :: head"></head>
<div th:replace="fragments/chief/header_chief :: header"></div>
<title>Календарь</title>

<body>
<div class="backcolor">

    <div class="main-calendar">
        <header class="header_calendar">
            <div class="flex-header">
                <div class="text-calendar"> Календарь</div>
                <div class="nav-month">
                    <div class="container-select" >
                        <select class="select-calendar" onchange="if (this.value) window.location.href = this.value">
                            <option value="/calendar/today">Месяц</option>
                            <option th:value="'/calendar/day/15' + '/' +
                                      ${dairy.currentMonth()} + '/' +
                                      ${dairy.currentYear()}" th:method="GET">День
                            </option>
                        </select>
                    </div>
                    <form th:action="@{/calendar/today}" th:method="GET">
                        <button class="today-btn" th:type="submit">Сегодня</button>
                    </form>
                    <div class="month-and-year"  th:text="${dairy.monthAndYear()}"></div>
                    <form th:action="@{/calendar/minus}" th:method="GET">
                        <button class="prev-month" th:type="submit"><span></span></button>
                    </form>
                    <form th:action="@{/calendar/plus}" th:method="GET">
                        <button class="next-month" th:type="submit"><span></span></button>
                    </form>
                </div>
            </div>
        </header>
        <div class="flex">
            <aside class="users-side">
                <div class="users-calendar">Исполнители</div>
                <div class="users-sidebar">
                    <form>
                        <div th:each="usr : ${users}"
                             th:object="${usr}"
                             th:if="${{usr.roles}} == 3">
                            <label class="label-checkbox low-scale" th:for="*{lastName}" >
                                <input class="input-checkbox low-scale" th:id="*{lastName}" checked="checked" type="checkbox"
                                       th:onclick="check()">
                                <span class="equipments-checkbox low-scale"></span>
                                <i class="indicator low-scale"></i>
                                <span class="text-checkbox fs-18" th:text="*{lastName}"></span>
                            </label>
                        </div>
                    </form>
                </div>
            </aside>
            <main class="main">
                <div class="flex-row" role="row">
                    <div class="row-week-name" role="columnheader">
                        <span aria-hidden="true">Пн</span>
                    </div>
                    <div class="row-week-name" role="columnheader">
                        <span aria-hidden="true">Вт</span>
                    </div>
                    <div class="row-week-name" role="columnheader">
                        <span aria-hidden="true">Ср</span>
                    </div>
                    <div class="row-week-name" role="columnheader">
                        <span aria-hidden="true">Чт</span>
                    </div>
                    <div class="row-week-name" role="columnheader">
                        <span aria-hidden="true">Пт</span>
                    </div>
                    <div class="row-week-name" role="columnheader">
                        <span aria-hidden="true">Сб</span>
                    </div>
                    <div class="row-week-name" role="columnheader">
                        <span aria-hidden="true">Вс</span>
                    </div>
                </div>
                <div class="flex-row-data" role="presentation" th:each="wom : ${dairy.countWeekOfMonth()}">
                    <div class="row-week">
                        <div class="flex-row-data-day">
                            <div class="day" th:each="seven : ${dairy.sevenDay()}">
                                <form class="button-container" th:object="${dairy}" method="get"
                                      th:action="@{'/calendar/day/' +
                                      ${seven - dairy.firstDayOfMonth() + 1 + (wom - 1) * 7} + '/' +
                                      ${dairy.currentMonth()} + '/' +
                                      ${dairy.currentYear()}}"
                                      th:if="${seven - dairy.firstDayOfMonth() + 1 + (wom - 1) * 7 >= 1}
                                      and ${seven - dairy.firstDayOfMonth() + 1 + (wom - 1) * 7 <= dairy.lastDayOfMonth()}">
                                    <button class="button-container" type="submit">
                                        <div class="column-main" aria-hidden="true"
                                             th:if="${seven - dairy.firstDayOfMonth() + 1 + (wom - 1) * 7 >= 1}
                                      and ${seven - dairy.firstDayOfMonth() + 1 + (wom - 1) * 7 <= dairy.lastDayOfMonth()}">
                                            <label class="day-of-month"
                                                   th:text="${seven - dairy.firstDayOfMonth() + 1 + (wom - 1) * 7}"></label>
                                            <div th:each="bag, itr : ${bags}">
                                                <div class="column-bag"
                                                     th:with="
                                                     day=${seven - dairy.firstDayOfMonth() + 1 + (wom - 1) * 7},
                                                     month=${dairy.currentMonth() + 1},
                                                     year=${dairy.currentYear()}"
                                                     th:id="${'bag_' + bag.id + '_' + (seven - dairy.firstDayOfMonth() + 1 + (wom - 1) * 7) + '_' + bag.getUser().lastName}"
                                                     th:if="${dairy.bagThatDay(
                                                     seven - dairy.firstDayOfMonth() + 1 + (wom - 1) * 7,
                                                     dairy.currentMonth(),
                                                     dairy.currentYear(),
                                                     bag.birthTime,
                                                     bag.lifeTime
                                                     )}">
                                                    <div id="takeBag" class="user-name-take-bag"
                                                         th:text="${bag.getUser().lastName}"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
    <script>
        function getCheckedEx () {
            let executors = document.querySelector('.users-sidebar').querySelectorAll('input');
            let checkedExecutors = [];
            executors.forEach(element => {
                if (element.checked){
                    checkedExecutors.push(element.getAttribute('id'));
                }
            });
            return checkedExecutors;
        }

        function getUnVisibleColumnBag (checkedEx) {
            let bags = document.querySelectorAll('.column-bag');
            bags.forEach(element => {
                let idElement = element.getAttribute('id');
                let arr = idElement.split('_');
                if (checkedEx.includes(arr[3])) {
                    document.getElementById(idElement).style.display = 'block';
                }
                else {
                    document.getElementById(idElement).style.display = 'none';
                }
            });
        }
        function check () {
            getUnVisibleColumnBag(getCheckedEx());
        }
    </script>
</body>
</html>