<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>

<head th:replace="fragments/chief/header :: head"></head>
<body class="bg-light">

<div th:replace=" fragments/chief/header :: header"></div>

<div class="d-flex tools_container">
    <div class="content">
        <div th:replace="fragments/tools_menu :: tools"></div>
        <div class="card mb-4">
            <div class="card-body">
                <div class="custom-control custom-switch">
                    <input class="custom-control-input" id="customSwitch1" type="checkbox">
                    <label class="custom-control-label" for="customSwitch1">Только доступное</label>
                </div>
                <div style="display: flex;justify-content: center;flex-wrap: wrap;">
                    <dl class="dl-horizontal attrs" th:each="equ : ${equipments}">
                        <div>
                            <dt>Название:</dt>
                            <dd th:text="${equ.name}"></dd>
                            <dt>Зав. №:</dt>
                            <dd th:text="${equ.factoryNumber}"></dd>
                            <dt>Свидетельство:</dt>
                            <dd th:text="${equ.verificationNumber}"></dd>
                            <dt>Дата поверки:</dt>
                            <dd th:text="${equ.verificationDateEnd}"></dd>
                        </div>
                        <button type="submit">Взять</button>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:replace="fragments/chief/footer :: scripts"></script>
<script th:src="@{https://bootadmin.net/css/datatables.min.css}"></script>
<script>
    $(document).ready(function () {
        $('#equipment').DataTable();
    });
</script>

</body>
</html>