<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>

<head th:replace="fragments/chief/header :: head"></head>

<body class="bg-light">

<div th:replace="fragments/chief/header :: header"></div>

<div class="d-flex tools_container">
    <div class="content">
        <div th:replace="fragments/tools_menu :: tools"></div>
        <div class="card mb-4">
            <div class="card-body">
                <div class="custom-control custom-switch">
                    <input class="custom-control-input" id="customSwitch1" type="checkbox">
                    <label class="custom-control-label" for="customSwitch1">Только доступное</label>
                </div>
                <div class="d-flex flex-wrap justify-content-center">
                    <dl class="dl-horizontal attrs card_flex" th:each="equ : ${equipments}" th:method="isActiv">
                        <div class="d-flex justify-content-center">
                            <div>
                                <dt>Название:</dt>
                                <dd th:text="${equ.name}"></dd>
                                <dt>Зав. №:</dt>
                                <dd th:text="${equ.factoryNumber}"></dd>
                                <dt>Свидетельство:</dt>
                                <dd th:text="${equ.verificationNumber}"></dd>
                                <dt>Дата поверки:</dt>
                                <dd th:text="${equ.verificationDateEnd}"></dd>
                            </div>
                            <div class="ico_ok-del edit">
                                <div style="padding-right: 10px;">
                                    <a id="edit" th:href="@{/equipment/{eqId}/edit(eqId=${equ.id})}" type="submit"><i
                                            class="fas fa-edit" style="color: #4E26BB;"></i></a>
                                </div>
                                <div>
                                    <a id="del" th:href="@{/equipment/{eqId}/delete(eqId=${equ.id})}" type="submit"><i
                                            class="fas fa-trash-alt" style="color: #B00101;"></i></a>
                                </div>
                            </div>
                        </div>
                        <div th:switch="${equ.isActiv}">
                            <form class="form-group" th:case="${false}">
                                <button type="submit">Взять</button>
                            </form>
                            <form class="form-group" th:case="${true}">
                                <button style="display: none" type="submit"></button>
                            </form>
                        </div>
                        <form th:action="@{'/verification/app_verification/' + ${equ.id}}"
                              th:object="${equipments}">
                            <button style="margin-top: 10px;" type="submit">На поверку</button>
                        </form>
                    </dl>
                    <form class="attrs" th:action="@{'/equipment/create/'}" style="height: 100%;">
                        <button type="submit" style="top: 50%;">Создать</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:replace="fragments/chief/footer :: scripts"></script>

</body>
</html>