<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" th:href="@{/css/calendar.css}">
<link rel="stylesheet" th:href="@{/css/elements.css}">
<head th:replace="fragments/chief/header_chief :: head"></head>
<div th:replace="fragments/chief/header_chief :: header"></div>
<title>Календарь</title>

<body>
<div class="backcolor">

    <div class="main-calendar">
        <header class="header_calendar">
            <div class="flex-header">
                <div class="text-calendar"> Календарь</div>
                <div class="nav-month">
                    <div class="container-btn  margin-right-16">
                        <div>

                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
</div>
</body>
</html>