<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>

<link rel="stylesheet" th:href="@{/css/works.css}">
<link rel="stylesheet" th:href="@{/css/popup_window.css}">
<head th:replace="fragments/chief/header_chief :: head"></head>

<body class="bg-light">

<div th:replace="fragments/chief/header_chief :: header"></div>

<div class="d-flex">
    <div class="content">
        <div class="card mb-4">
            <div class="card-body">
                <div th:each="bag : ${bags}">
                    <a class="work_attrs popup-link" th:href="'#popup__container' + ${bag.getId()}">
                        <dl id="bags" th:if="${bag.getLifeTime() > timeNow}" class="attrs">
                            <dt>Название объекта:</dt>
                            <dd th:text="${bag.work.getObjectName()}"></dd>
                            <dt>Выезд:</dt>
                            <dd th:text="'с: ' + ${#dates.format(bag.birthTime, 'dd.MM.yyyy HH:mm')} +
                             ' по: ' + ${#dates.format(bag.lifeTime, 'dd.MM.yyyy HH:mm')}"></dd>
                            <hr>
                            <dt>Исполнитель:</dt>
                            <dd th:text="${bag.user.getLastName()}"></dd>
                        </dl>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div th:each="bag : ${bags}">
    <div class="popup__container" th:id="popup__container + ${bag.getId()}">
        <a href="#" class="popup__area"></a>
        <div class="popup__body">
            <div class="popup__content">
                <a href="#" class="popup__close">X</a>
                    <div class="popup__title" th:if="${bag.getLifeTime() > timeNow}"
                         th:text="'Пользователь: ' + ${bag.user.getLastName()}"></div>
                    <div class="popup__text" th:if="${bag.getLifeTime() > timeNow}"
                         th:each="equ : ${bag.getEquipments()}" th:text="${equ.name}"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:replace="fragments/chief/footer :: scripts"></script>
<!--<script>-->
<!--    function getTable(e, id){-->
<!--        console.log(id);-->
<!--        $('.work_attrs').each(function() {-->
<!--            $('dl#bags', this).hide();-->
<!--            $('table#' + id, this).show();-->
<!--            $('button#exit', this).show();-->
<!--        })-->
<!--    }-->
<!--    function getCards(e){-->
<!--        $('.work_attrs').each(function() {-->
<!--            $('dl#bags', this).show();-->
<!--            $('table', this).hide();-->
<!--            $('button#exit', this).hide();-->
<!--        })-->
<!--    }-->

<!--</script>-->

</body>
</html>