<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>

<link rel="stylesheet" th:href="@{/css/works.css}">
<head th:replace="fragments/chief/header_chief :: head"></head>

<body class="bg-light">

<div th:replace="fragments/chief/header_chief :: header"></div>

<div class="d-flex">
    <div class="content">
        <div class="card mb-4">
            <div class="card-body">
                <div class="work_attrs">
                    <div th:each="bag : ${bags}" >
                        <dl id="bags" th:if="${bag.getLifeTime() > timeNow}" class="dl-horizontal attrs" >
                            <dt>Сумка:</dt>
                            <dd th:text="${bag.id}"></dd>
                            <dt>Название объекта:</dt>
                            <dd th:text="${bag.work.getObjectName()}"></dd>
                            <dt>Дата создания:</dt>
                            <dd th:text="${#dates.format(bag.birthTime, 'dd.MM.yyyy HH:mm')}"></dd>
                            <dt>Срок пользования:</dt>
                            <dd th:text="${#dates.format(bag.lifeTime, 'dd.MM.yyyy HH:mm')}"></dd>
                            <dt>Исполнитель:</dt>
                            <dd th:text="${bag.user.getLastName()}"></dd>
                            <button th:onclick="getTable(event, /*[[${bag.id}]]*/)" type="submit">Смотреть</button>
                        </dl>
                        <table th:id="${bag.id}" style="display: none" >
                            <tr>
                                <th th:text="'Сумка ' + ${bag.id} + ' пользователя ' + ${bag.user.getLastName()}"></th>
                            </tr>
                            <tr>
                                <th>Название:</th>
                                <th>Зав. №:</th>
                                <th>Свидетельство:</th>
                                <th>Дата поверки:</th>
                            </tr>
                            <tr style="background: rgba(219, 242, 255, 0.69);">
                                <td class="add" colspan="7">
                                    <button th:id="exit" onclick="getCards(event)" style="display: none" type="submit">Назад</button>
                                </td>
                            </tr>
                            <tr th:each="equ : ${bag.equipments}">
                                <td th:text="${equ.name}"></td>
                                <td th:text="${equ.inventoryNumber}"></td>
                                <td th:text="${equ.verificationNumber}"></td>
                                <td th:text="${equ.verificationDateEnd}"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:replace="fragments/chief/footer :: scripts"></script>
<script>
    function getTable(e, id){
        console.log(id);
        $('.work_attrs').each(function() {
            $('dl#bags', this).hide();
            $('table#' + id, this).show();
            $('button#exit', this).show();
        })
    }
    function getCards(e){
        $('.work_attrs').each(function() {
            $('dl#bags', this).show();
            $('table', this).hide();
            $('button#exit', this).hide();
        })
    }

</script>

</body>
</html>