<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>

<link rel="stylesheet" th:href="@{/css/works.css}">
<head th:replace="fragments/chief/header :: head"></head>

<body class="bg-light">

<div th:replace="fragments/chief/header :: header"></div>

<div>
    <div>
        <div>
            <div>
                <table id="users">
                    <thead>
                    <tr>
                        <th>Имя</th>
                        <th>Фамилия</th>
                        <th>Телефон</th>
                        <th>Почта</th>
                        <th>Права</th>
                        <th class="actions">Изменения</th>
                    </tr>
                    <tr style="background: rgba(219, 242, 255, 0.69);">
                        <td class="add" colspan="7">
                            <form class="form-group" th:action="@{/user/create}">
                                <button type="submit">
                                    <i aria-hidden="true" class="fa fa-user-plus" style="padding-right: 10px;"></i>Добавить
                                </button>
                            </form>
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="usr : ${users}" th:id="tabUs">
                        <td th:text="${usr.firstName}"></td>
                        <td th:id="lName" th:text="${usr.lastName}"></td>
                        <td th:text="${usr.phone}"></td>
                        <td th:text="${usr.email}"></td>
                        <td>
                            <p th:each="role : ${roles}"
                               th:if="${usr.roles?.contains(role)}"
                               th:text="${role.name}"
                               th:value="${role.id}">
                            </p>
                        </td>
                        <td th:id="edEdit">
                            <div class="ico_ok-del">
                                <div >
                                    <a class="btn btn-icon btn-pill btn-primary"
                                       data-toggle="tooltip" th:href="@{/user/{id}/edit(id=${usr.id})}" title="Edit">
                                        <strong class="fa fa-fw fa-edit"></strong>
                                    </a>
                                </div>
                                <form class="d-inline" th:action="@{user/{id}/delete(id=${usr.id})}" th:method="delete">
                                    <button th:onclick="clicked(event, /*[[${usr.lastName}]]*/)"
                                            class="btn btn-icon btn-pill btn-danger" data-toggle="tooltip"
                                            title="Delete">
                                        <em class="fa fa-fw fa-trash"></em>
                                    </button>
                                </form>
                            </div>
                        </td>
                        <td style="display: none" th:id="emp">&nbsp;</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script th:replace="fragments/chief/footer :: scripts"></script>
<script>
    function clicked(e, user){
        var text = 'Вы уверены, что хотите удалить пользователя ' + user +  ' ?';
        if(!confirm(text)) {
            e.preventDefault();
        }
    }
    $(document).ready(function () {
        $('#users tr#tabUs').each(function () {
            if ($('#dd_user').text() !== $('td#lName', this).text()) {
                $('td#edEdit', this).hide();
                $('td#emp', this).show();
            }
        })
    });
</script>
</body>
</html>