<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>

<link rel="stylesheet" th:href="@{/css/works.css}">
<head th:replace="fragments/chief/header :: head"></head>

<body class="bg-light">

<div th:replace="fragments/chief/header :: header"></div>

<div>
    <div>
        <table>
            <thead>
            <tr>
                <th>Номер заявки</th>
                <th>Дата регистрации</th>
                <th style="min-width: 200px;">Заказчик</th>
                <th style="max-width: 500px;">Наименование объекта</th>
                <th>Срок</th>
                <th>Ответственный</th>
                <th>Договор</th>
                <th colspan="2">Дополнительная информация</th>
            </tr>
            <tr style="background: rgba(219, 242, 255, 0.69);">
                <td class="add" colspan="7">
                    <form th:action="@{/work/create}">
                        <button type="submit">Добавить</button>
                    </form>
                </td>
                <td class="add" colspan="2">
                    <div style="margin: 0; text-align: end;">
                        <button th:id="archive" type="submit">Архив</button>
                        <button th:id="back" type="submit">Назад</button>
                    </div>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="wor : ${work}" th:id="work_head">
                <td style="max-width: 60px" class="userU"  th:text="${wor.id}"></td>
                <td style="max-width: 90px" th:text="${wor.registrationDate}"></td>
                <td style="min-width: 200px;" th:text="${wor.clientName}"></td>
                <td style="max-width: 500px;" th:text="${wor.objectName}"></td>
                <td style="max-width: 90px" th:text="${wor.deadline}"></td>
                <td class="add_user">
                    <div>
                        <div id="user" th:if="${#lists.size(wor.getUsers) > 0}">
                            <input class="userU" readonly th:value="${wor.getUsers[0].getLastName()}"></div>
                    </div>
                    <div id="sel">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                            <i aria-hidden="true" class="fa fa-user-plus" style="color: #4E26BB;"></i>
                        </a>
                        <div>
                            <ul aria-labelledby="logged-in-username"
                                class="dropdown-menu dropdown-menu-right drop_menu">
                                <li><a class="dropdown-item" style="display:block;" th:each="usr : ${users}"
                                       th:href="@{/work/user/{workId}/{userId}(userId=${usr.id}, workId=${wor.id})}"
                                       th:text="${usr.getLastName()}"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="ico_ok-del" th:if="!${wor.getWorkStatus().getName() == 'COMPLETED'}"
                         th:unless="${wor.getWorkStatus().getName() == 'NEW'}">
                        <a th:href="@{/work/sendToArchive/{workId}(workId=${wor.id})}"><i class="fas fa-check-circle"
                                                                                          style="color: #26BB50;"></i></a>
                        <a th:href="@{/work/back/{workId}(workId=${wor.id})}"><i
                                class="fas fa-times-circle" style="color: #B00101;"></i></a>
                    </div>
                </td>
                <td style="max-width: 140px" th:text="${wor.numberContract}"></td>
                <td th:text="${wor.additionalInformation}"></td>
                <td th:id="status" style="max-width: 50px">
                    <div class="ico_ok-del">
                        <div style="padding-right: 10px;">
                            <a id="edit" th:href="@{/work/{workId}/edit(workId=${wor.id})}" type="submit"><i
                                    class="fas fa-edit" style="color: #4E26BB;"></i></a>
                        </div>
                        <div>
                            <a id="del" th:href="@{/work/{workId}/delete(workId=${wor.id})}" type="submit"><i
                                    class="fas fa-trash-alt" style="color: #B00101;"></i></a>
                        </div>
                    </div>
                    <input  style="display: none" th:name="status"
                            th:value="${wor.getWorkStatus().getName()}">
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script th:replace="fragments/chief/footer :: scripts"></script>
<script>
    $(function () {
        $('.add_user').each(function () {
            if ($('#user input', this).val()) {
                $('#sel', this).addClass('hide');
            } else {
                $('.ico_ok-del', this).addClass('hide');
            }
        });
    });
    $(function () {
        $('tr#work_head').each(function () {
            if ($('td#status input', this).val() === 'COMPLETED') {
                $(this).css('background', 'rgba(128, 128, 128, 0.27)');
                $('td.add_user div div#user input', this).addClass('archive');
                $(this).addClass('hide');
                $('button#back').addClass('hide');
            }
        });
        $('tr#work_head:not(.hide):odd').addClass('dark');
        $('tr#work_head:not(.hide):even').addClass('light');
        $('tr#work_head:not(.hide):odd input').addClass('dark');
        $('tr#work_head:not(.hide):even input').addClass('light');
    });
    $(function () {
        $('button#archive').on('click', function () {
            $('tr#work_head').each(function () {
                if ($('td#status input', this).val() === 'COMPLETED')
                    $(this).removeClass('hide');
                else
                    $(this).addClass('hide');
            });
            $('button#back').removeClass('hide');
            $('button#archive').addClass('hide');
            $('div.ico_ok-del div').addClass('hide');
        });
        $('button#back').on('click', function () {
            $('tr#work_head').each(function () {
                if ($('td#status input', this).val() !== 'COMPLETED')
                    $(this).removeClass('hide');
                else
                    $(this).addClass('hide');
            });
            $('button#back').addClass('hide');
            $('button#archive').removeClass('hide');
            $('div.ico_ok-del div').removeClass('hide');
        });
    });
</script>

</body>
</html>