<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>

<link rel="stylesheet" th:href="@{/css/works.css}">
<head th:replace="fragments/chief/header :: head"></head>

<body class="bg-light">

<div th:replace="fragments/chief/header :: header"></div>

<div>
    <div>
        <table>
            <thead>
            <tr>
                <th>Номер заявки</th>
                <th>Дата регистрации</th>
                <th>Заказчик</th>
                <th>Наименование объекта</th>
                <th>Срок</th>
                <th>Ответственный</th>
                <th>Договор</th>
                <th>Дополнительная информация</th>
            </tr>
            <tr style="background: rgba(219, 242, 255, 0.69);">
                <td class="add" colspan="7">
                    <form th:action="@{/work/create}">
                        <button type="submit">Добавить</button>
                    </form>
                </td>
                <td class="add">
                    <div style="margin: 0; text-align: end;">
                        <button th:id="archive" type="submit">Архив</button>
                        <button th:id="back" type="submit">Назад</button>
                    </div>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="wor : ${work}" th:id="work_head">
                <td id="workId" th:text="${wor.id}"></td>
                <td th:text="${wor.registrationDate}"></td>
                <td th:text="${wor.clientName}"></td>
                <td th:text="${wor.objectName}"></td>
                <td th:text="${#dates.format(wor.deadline, 'dd-MM-yyyy')}"></td>
                <td class="add_user" th:value="${wor.getWorkStatus().getName()}">
                    <div>
                        <div id="user" th:if="${#lists.size(wor.getUsers) > 0}">
                            <input class="userU" th:value="${wor.getUsers[0].getLastName()}"></div>
                    </div>
                    <div id="sel">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                            <i aria-hidden="true" class="fa fa-user-plus" style="color: #4E26BB;"></i>
                        </a>
                        <div>
                            <ul aria-labelledby="logged-in-username"
                                class="dropdown-menu dropdown-menu-right drop_menu">
                                <li><a class="dropdown-item" style="display:block;" th:each="usr : ${users}"
                                       th:href="@{/work/user/{workId}/{userId}(userId=${usr.id}, workId=${wor.id})}"
                                       th:text="${usr.getLastName()}"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="ico_ok-del" th:if="!${wor.getWorkStatus().getName() == 'COMPLETED'}"
                         th:unless="${wor.getWorkStatus().getName() == 'NEW'}">
                        <a th:href="@{/work/sendToArchive/{workId}(workId=${wor.id})}"><i class="fas fa-check-circle"
                                                                                          style="color: #26BB50;"></i></a>
                        <a th:href="@{/work/back/{workId}(workId=${wor.id})}"><i
                                class="fas fa-times-circle" style="color: #B00101;"></i></a>
                    </div>
                </td>
                <td th:text="${wor.numberContract}"></td>
                <td th:text="${wor.additionalInformation}"></td>
                <td style="display: none" th:id="status" th:text="${wor.getWorkStatus().getName()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script th:replace="fragments/chief/footer :: scripts"></script>
<script>
    $(function () {
        $('.add_user').each(function () {
            if ($('#user input', this).val()) {
                $('#sel', this).hide();
            } else {
                $('.ico_ok-del', this).hide();
            }
        });
    });
    $(function () {
        $('tr#work_head').each(function () {
            if ($('td#status', this).text() === 'COMPLETED') {
                $(this).css('background', 'rgba(128, 128, 128, 0.27)');
                $('input.userU', this).css('background', 'rgb(128 128 128 / 0%)');
                $(this).hide();
                $('button#back').hide();
            }
        });
    });
    $(function () {
        $('button#archive').on('click', function () {
            $('tr#work_head').each(function () {
                if ($('td#status', this).text() === 'COMPLETED')
                    $(this).show();
                else
                    $(this).hide();
            });
            $('button#back').show();
            $('button#archive').hide();
        });
        $('button#back').on('click', function () {
            $('tr#work_head').each(function () {
                if ($('td#status', this).text() !== 'COMPLETED')
                    $(this).show();
                else
                    $(this).hide();
            });
            $('button#back').hide();
            $('button#archive').show();
        });
    });
</script>

</body>
</html>