body {
    margin: 0;

    font-family: Arial, sans-serif;
    font-size: 14px;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
.backcolor {
    background-color: #ecf0f1;
    padding-bottom: 50px;
    height: calc(100% - 112px);
}

.backcolor-blue {
    background: #ecf0f1;
}

.main-calendar {
    justify-content: space-around;
    width: 100%;
    max-width: 1540px;
    padding-left: 0;
    margin: 0 auto;
    height: 100%;
}

.main-calendar-day {
    justify-content: space-around;
    width: 100%;
    height: 89%;
    max-width: 1540px;
    padding-left: 0;
    margin: 0 auto;
}

.flex {
    height: calc(100% - 96px);
    display: flex;

}

/* header */

.header_calendar {
    margin: 0;
    padding: 12px 0;
    width: 100%;
    background: #ecf0f1;

}

.flex-header {
    display: flex;
    justify-content: start;
    align-items: center;
}

.text-calendar{
    width: 15%;
    margin: 0 10px;

    font-size: 1.8rem;
    color: #02030a;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-month {
    width: 85%;

    display: flex;
    justify-content: end;
    align-items: center;
}

/*  ELEMENT */

.today-btn {
    border: 0;
    border-radius: 15px;
    outline: none;
    padding: 0;
    width: 140px;
    height: 40px;

    background: linear-gradient(90deg, #74d0d0, #00aebb);

    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
    text-align: center;
    color: #000001;

    position: relative;
}

.today-btn:hover {
    background: linear-gradient(90deg, #386c6c, #006068);
    box-shadow: 0 0 13px #7ADCDC;
    color: #f4f5f5;
}

.prev-month {
    position: relative;
    width: 40px;
    height: 40px;
    background: linear-gradient(90deg, #74d0d0, #00aebb);
    border-radius: 10%;
    border: 0;
}

.prev-month:hover {
    background: linear-gradient(90deg, #386c6c, #006068);
    box-shadow: 0 0 13px #7ADCDC;
}

.next-month {
    position: relative;
    width: 40px;
    height: 40px;
    background: linear-gradient(90deg, #74d0d0, #00aebb);
    margin: 0 10px;
    border-radius: 10%;
    border: 0;

}

.next-month:hover  {
    background: linear-gradient(90deg, #386c6c, #006068);
    box-shadow: 0 0 13px #7ADCDC;
}

.prev-month span {
    position: absolute;
    width: 10px;
    height: 10px;
    border: 2px solid #0d3a4c;
    border-right: none;
    border-bottom: none;
    transform: translateY(-50%) translateX(-50%) rotate(-45deg);
    transition: .5s;
}

.prev-month:hover span {
    right: 35%;
    border: 2px solid #75c9e3;
    border-right: none;
    border-bottom: none;
}

.prev-month span:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background: #0d3a4c;
    transform-origin: left;
    transform: rotate(45deg) translate(-5px,2px) scaleX(0);
    transition: .5s;
}

.prev-month:hover span:before {
    transform: rotate(45deg) translate(-5px,2px) scaleX(1);
    transition: .5s;
    background: linear-gradient(90deg, #74d0d0, #00aebb);
}

.next-month span {
    position: absolute;
    width: 10px;
    height: 10px;
    border: 2px solid #0d3a4c;
    border-left: none;
    border-top: none;
    transform: translateY(-50%) translateX(-50%) rotate(-45deg);
    transition: .5s;
}

.next-month:hover span {
    left: 65%;
    border: 2px solid #75c9e3;
    border-left: none;
    border-top: none;
}

.next-month span:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background: #0d3a4c;
    transform-origin: right;
    transform: rotate(45deg) translate(-5px,16px) scaleX(0);
    transition: .5s;
}

.next-month:hover span:before {
    transform: rotate(45deg) translate(-5px,16px) scaleX(1);
    background: linear-gradient(90deg, #74d0d0, #00aebb);
}


.month-and-year {
    margin: 1rem;
    font-size: 18px;
    color: #02030a;
}

.select-calendar {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    border: 1px solid #00bdd5;
    /*border-radius: 15%;*/
    background-color: #e8faff;

    padding: 8px 32px 8px 10px;
    margin-right: 14px;
    outline: none;
    cursor: pointer;
}

.select-calendar::-ms-expand {
    display: none;
}

.container-select {
    position: relative;
}

.container-select::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 26px;
    transform: translateY(-50%) rotate(-45deg);

    display: block;
    width: 10px;
    height: 10px;
    border: 2px solid #0d3a4c;
    border-right: none;
    border-top: none;

    pointer-events: none;
}

.select-calendar:focus {
    outline: none;
    box-shadow: 0 0 0 1px #38577a, 0 0 10px #7e9bbd;
}

/* sidebar */

.users-side {
    width: 15%;
    margin: 0 auto;
    min-height: 25px;

    display: flex;
    flex-direction: column;

    font-size: 18px;
}

.users-calendar {
    margin: 10px;
    flex: 0;
}
.users-sidebar {
    margin: 10px;
    flex: 0;
}

/* main */

.main {
    width: 85%;
    margin: 0 auto;
    min-height: 275px;

    border-left: 1px solid #04B1C9;

    display: flex;
    flex-direction: column;
}

.main-day {
    width: 80%;
    margin: 0 auto;
    min-height: 275px;

    border-left: 1px solid #04B1C9;

    display: flex;
}

.flex-row {
    display: flex;
    flex: none;
    /*border-right: 1px solid #009281;*/
}


.row-week-name {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    border: 1px solid #04B1C9;
    background: #c1ffff;

    width: 100%;
    height: 20px;

    text-align: center;
    text-transform: uppercase;
}
.row-week {
    /*border-right: 1px solid #009281;*/

    text-align: center;
    text-transform: uppercase;
}

.flex-row-data {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;

}

.flex-row-data-d{
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 1px solid #02030a;
}
.row-week {

    width: 100%;
    position: relative;

    display: flex;
    flex: 1;
}

.flex-row-data-day {
    position: relative;
    min-height: 10px;

    border-bottom: 1px solid #04B1C9;

    display: flex;
    flex: 1;
}

.day {
    flex: 1;
    box-sizing: border-box;
    border-right: 1px solid #04B1C9;

    display: block;
}

.column-main{
    text-align: center;
    align-items: start;
    height: 100%;
}

.day-of-month{
    position: relative;
    margin-bottom: 6px;
    pointer-events: none;
}

.user-name-take-bag {
    font-size: 14px;
    font-weight: 600;
}

.row-hour {
    margin-left: 5px;
}

.row-line{
    width: 1%;
    position: relative;
    left: 10%;
}

.row-equipments{
    background-color: #bbefe5;
    width: 100%;
    height: 100%;

}

.flex-container-bag {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;

    /*border: 1px solid #02030a;*/
}

.container-bag {
    position: relative;
    display: flex;
    flex-direction: row;
    border: 1px solid #02030a;
    align-items: center;
}

.bag-user-lastName {
    margin: 0 6px;
    font-size: 16px;
    font-weight: 500;
}

.equipments-name {
    margin-right: 6px;
    font-size: 14px;
}

.flex-container-equ {
    display: flex;
    flex-direction: column;
}

.flex-container-hour {
    display: grid;
    width: 100%;
    border-bottom: 1px solid #02030a;
    border-right: 1px solid #02030a;
    height: 50%;
    text-align: center;
}

.hourColor {
    height: 3.5%;
    background-color: #d0f4ee;
}

.hide {
    display: none;
}

.button-container {
    height: 100%;
    width: 100%;
    background-color: #E6FEFE;
    border: 0;
    transition: .3s;
}

.button-container:hover {
    background-color: #c9ffff;
    border: 1px solid #90cdcb;
}


/*             DAY              */

.hour-column {
    background-color: #e4ffff;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
    max-width: 50px;
}

.user-column {
    display: flex;
    background-color: #e4ffff;
    flex-grow: 20;
    max-width: 550px;
}

.equipment-column {
    background-color: #e4ffff;
    flex-grow: 20;
    max-width: 550px;
}

.flex-space {
    justify-content: space-around;
}

.border-top-table{
    border-top: 1px solid #000000;
}




