/* checkbox */

.checkbox {
    position: relative;
}

.checkbox-input {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}

.checkbox-label {
    padding-left: 52px;
    padding-bottom: 10px;
    padding-top: 4px;
    font-size: 16px;
    color: #000000;
    cursor: pointer;
}

.checkbox-label:before {
    content: "";
    display: block;
    width: 88px;
    height: 51px;

    background: url(../icons/checkbox_rec_off.svg) no-repeat;
    background-size: 55px 46px;

    position: absolute;
    top: -7px;
    left: -9px;
    z-index: 1;
}

.checkbox-input:checked + .checkbox-label:before {
    background-image: url(../icons/checkbox_rec_on.svg);
}

.checkbox-input:focus + .checkbox-label:before {
    background-image: url(../icons/checkbox_rec_focus_off.svg);
}
.checkbox-input:checked:focus + .checkbox-label:before {
    background-image: url(../icons/checkbox_rec_focus_on.svg);
}

/* button */

.butt {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #E7FFFF;
    font-weight: normal;

    width: 172px;
    height: 38px;

    border: 1px solid #01BDCD;
    border-radius: 34px;

    background: linear-gradient(90deg, #74d0d0, #00aebb);

    transition: 0.8s;

}

.butt-center {
    position: relative;
    padding: 0;
    margin-left: -86px;
    left: 50%;
}

.butt:hover {
    background: linear-gradient(90deg, #386c6c, #006068);
    box-shadow: 0 0 13px #7ADCDC;
}

.text-center {
    position: relative;
}

.width-butt {
    /*width: 200px;*/
    /*height: 40px;*/
}

.bColor_red {
    border: 1px solid rgba(78, 0, 32, 0.92);
    background: linear-gradient(90deg, rgba(208, 116, 156, 0.7), rgba(187, 0, 65, 0.7));
}

.bColor_red:hover {
    background: linear-gradient(90deg, #6c384a, #68002d);
    box-shadow: 0 0 13px #dc7aa1;
}

.butt_small_size {
    font-size: 0.9rem;
}

/* checkbox */

.container-checkbox {
    position: relative;
    display: block;
    padding-left: 24px;
}

.label-checkbox {
    position: relative;
}

.equipments-checkbox {
    position: absolute;
    width: 50px;
    height: 26px;
    margin: 0;
    background: rgba(101, 102, 102, 0.47);
    box-shadow: inset 0 2px 15px rgba(188, 192, 193, 0.2),
                inset 0 2px 2px rgba(188, 192, 193, 0.2),
                inset 0 -1px 1px rgba(188, 192, 193, 0.2);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.input-checkbox:checked ~ .equipments-checkbox {
    background: #7adcdc;
    box-shadow: inset 0 2px 15px rgba(0, 118, 128, 0.2),
    inset 0 2px 2px rgba(0, 118, 128, 0.2),
    inset 0 -1px 1px rgba(0, 118, 128, 0.2);
}

.input-checkbox {
    appearance: none;
}

.indicator {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 25px;
    height: 25px;
    background: linear-gradient(180deg, #b6b8b8, #6d6a6a);
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(43, 45, 45, 0.3),
                inset 0 1px 1px rgba(20, 21, 21, 0.2);
    transition: 0.5s;
    transform: scale(0.9);
}

.input-checkbox:checked ~ .indicator {
    left: 25px;
    background: linear-gradient(180deg,#62B9B9, #007680);
}

.indicator:before {
    content: "";
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 4px;
    height: 4px;
    background: #545457;
    border-radius: 50%;
    box-shadow: 0 1px 1px #98a098;
    transition: 0.5s;
}

.input-checkbox:checked ~ .indicator::before {
    background: #00e328;
    box-shadow: 0 0 2px #00e328,
    0 0 5px #00e328,
    0 0 10px #00e328,
    0 0 15px #00e328,
    0 0 20px #00e328,
    0 0 25px #00e328,
    0 0 30px #00e328;
}

.text-checkbox {
    position: absolute;
    left: 60px;
    top: 2px;
    white-space: nowrap;
    font-size: 14px;
}

.unlock-btn {
    background: linear-gradient(90deg, #82d074, #598e4f);
}

.edit-btn {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 14%;
    background: linear-gradient(90deg, #67c6c6, #35c7c7);

}

.edit-btn:before {
    content: "+";
    position: relative;
    font-size: 1.8rem;
    top: -15%;
}

.edit-btn:hover {
    background: linear-gradient(90deg, #55a1a1, #27a3a3);

}

.low-scale {
    transform: scale(0.85);
}
/*     TEXT       */

.label-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.up {
    justify-content: start;
}

.fs-18 {
    font-size: 18px;
}

.margin-right-16 {
    margin-right: 16px;
}

/*          INPUT            */

.container-input {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 20px;
    margin-top: 16px;
}

.input-box {
    position: relative;
    margin: 0 20px;
    width: 650px;
}

.input-box input,
.input-box textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid rgba(14, 45, 59, 0.25);
    background: #ffffff;
    border-radius: 5px;
    outline: none;
    color: #070c23;
    transition: .5s;

    font-weight: 400;
    font-size: 16px;
}


.input-box span {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1.4em;
    text-transform: uppercase;
    color: rgba(7, 12, 35, 0.45);
    transition: .5s;
}

.input-box input:valid ~ span,
.input-box input:focus ~ span,
.input-box textarea:valid ~ span,
.input-box textarea:focus ~ span{
    color: #04B1C9;
    transform: translateX(10px) translateY(-10px);
    font-size: 0.9em;
    padding: 0 10px;
    background: #ffffff;
    border-right: 2px solid #04B1C9;
    border-left: 2px solid #04B1C9;
    letter-spacing: 0.2em;
}

.input-box input:valid,
.input-box input:focus,
.input-box textarea:valid,
.input-box textarea:focus {
    border: 2px solid #04B1C9;
}

.input-box-date input {
    width: 100%;
    /*padding: 10px;*/
    border: 2px solid rgba(14, 45, 59, 0.25);
    background: #ffffff;
    border-radius: 5px;
    outline: none;
    color: #070c23;
    transition: .5s;

    font-weight: 400;
    font-size: 16px;
}


.input-box-date span {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1.4em;
    text-transform: uppercase;
    color: rgba(7, 12, 35, 0.45);
    transition: .5s;
}

.input-box-date input:valid ~ span,
.input-box-date input:focus ~ span{
    color: #04B1C9;
    transform: translateX(10px) translateY(-10px);
    font-size: 0.9em;
    padding: 0 10px;
    background: #ffffff;
    border-right: 2px solid #04B1C9;
    border-left: 2px solid #04B1C9;
    letter-spacing: 0.2em;
}

.input-box-date input:valid,
.input-box-date input:focus {
    border: 2px solid #04B1C9;
}

.name-input {
    /*margin-top: 10px;*/
}

.description-input {
    min-height: 100px;
}

.flex-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
}





