/* checkbox */

.checkbox {
    position: relative;
}

.checkbox-input {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}

.checkbox-label {
    padding-left: 52px;
    padding-bottom: 10px;
    padding-top: 4px;
    font-size: 16px;
    color: #000000;
    cursor: pointer;
}

.checkbox-label:before {
    content: "";
    display: block;
    width: 88px;
    height: 51px;

    background: url(../icons/checkbox_rec_off.svg) no-repeat;
    background-size: 55px 46px;

    position: absolute;
    top: -7px;
    left: -9px;
    z-index: 1;


}

.checkbox-input:checked + .checkbox-label:before {
    background-image: url(../icons/checkbox_rec_on.svg);
}

.checkbox-input:focus + .checkbox-label:before {
    background-image: url(../icons/checkbox_rec_focus_off.svg);
}
.checkbox-input:checked:focus + .checkbox-label:before {
    background-image: url(../icons/checkbox_rec_focus_on.svg);
}

/* button */

.butt {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #E7FFFF;
    font-weight: normal;

    width: 172px;
    height: 38px;

    border: 1px solid #01BDCD;
    border-radius: 34px;

    background: linear-gradient(90deg,#7ADCDC,#01BDCD);

    transition: 0.8s;
}

.butt-center {
    position: relative;
    padding: 0;
    margin-left: -86px;
    left: 50%;
}

.butt:hover {
    background: linear-gradient(90deg,#62B9B9,#007680);
    box-shadow: 0 0 13px #7ADCDC;
}

