.container-big {
    width: 100%;
    max-width: 1540px;
    padding-left: 0;
    margin: 0 auto;
}

.tools_font a {
    font-weight: 200;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    width:100%;
    color: #000000;
    padding: 0;
    background: #78DBDB;
    transition: 0.5s;

    flex-basis: 0;
    flex-grow: 1;

}

.tools_font a.active,
.show > .nav-link {
    color: #f6fafc;
    background-color: #0CBFCE;
    font-weight: 600;
    font-size: 22px;
    border-bottom: 0;
    box-shadow: 25px 25px 75px rgba(72, 94, 113, 0.25),
    40px 40px 70px rgba(72, 94, 113, 0.25),
    inset -5px -5px 10px rgba(72, 94, 113, 0.2),
    inset 5px 5px 10px rgba(72, 94, 113, 0.2);
}

.tools_font a:hover {
    font-weight: 600;
    letter-spacing: 1px;

    /*color: #ff110a;*/
    /*background: #99E7FF;*/
}


.tools_font p {
    margin: 0;
}

.card_flex {
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.edit {
    display: flex;
    justify-content: space-around;
    margin-right: 15px;
}

.attrs {
    width: 400px;
    margin: 25px 20px 0 0;
    padding: 12px 0 14px;
    overflow: hidden;
    background: rgba(219, 242, 255, 0.48);
    border-radius: 25px;
}

.attrs dt {
    margin: 0;
    width: 125px;
    float: left;
    clear: both;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    color: #000000;
}

.attrs dd {
    margin: 0 5px 0 125px;
    text-align: start;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    padding: 0 0 15px 15px;
    width: 200px;
}

.attrs button {
    border: 0;
    outline: none;
    padding: 0;
    width: 135px;
    height: 35px;
    background: #A2DDD2;
    border-radius: 15px;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #000000;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.attrs button:hover {
    background-color: #fbb1b1;
}

.btn_arch button {
    border: 0;
    outline: none;
    padding: 0;
    width: 135px;
    background: #F0ECFD;
    border-radius: 22px;
    font-weight: 300;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #000000;
}

.btn_arch button:hover {
    background-color: #e0f08f;
}

.add_user a {
    padding: 0;
}

.add_user a:after {
    content: none;
}

.add_user ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    text-align: start;
}

.add_user li {
    padding: 3px;
}

.active {
    border-bottom: 1px solid rgba(49, 55, 56, 0.65);
    line-height: 2;
}

.active a {
    font-weight: 600;
}

legend {
    display: block;
    width: auto;
    padding: 0 5px;
    margin-bottom: 0;
    font-size: inherit;
    line-height: inherit;
    border-bottom: none;
}
fieldset {
    border: 1px #00BFFF solid;
    padding: 5px 5px 5px 20px;
    margin-bottom: 25px;
    width: 740px;
}

fieldset p {;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}

fieldset input {
    width: 370px;
}

.check input {
    width: auto;
}

.check label {
    padding-left: 10px;
}

.check p {
    margin-left: 20px;
}

.a {
    color: #E7FFFF;
}


.container{
    width: 100%;
    max-width: 1530px;
    margin: 0 auto;
}
/* Chief
===============================================================*/

/* header  */

.header {
    padding: 12px 0;
    width: 100%;
    background: #0CBFCE;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-name {
    font-size: 52px;
    line-height: 78px;
    color: #E7FFFF;
    transition: 0.3s;

}
a.header-name:hover {
    text-decoration: none;
    color: #050810;
}

.header-nav {
    display: flex;
}

.header-font {
    margin: 0 26px;
    color: #E7FFFF;
    font-size: 26px;
    font-weight: 600;
    transition: 0.3s;
}

.header-logo {
    display: flex;
    align-items: center;
}

a.header-font:hover {
    text-decoration: none;
    transform: scale(1.15);
    color: #050810;
}

.fon {
    width: 100%;
    background: #78DBDB;
}

/* logo */

.calendar-nav {
    margin: 10px 10px 10px 10px;
    width: 24px;
    height: 26px;
    background-image: url(../icons/calendar.svg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.calendar-nav:hover{
    transform: scale(1.35);
}

.user-name {
    font-size: 20px;
}

a input{
    margin: 10px 10px 10px 10px;
    top: -3px;
    width: 28px;
    height: 62px;
    background-image: url(../icons/exit-outline.svg);
    background-size: 72%;
    background-repeat: no-repeat;
}

a input:hover{
    transform: scale(1.35);
}

.logout {
    position: relative;
    display:block;
    width: 1px;
    height: 26px;
    padding:.25rem 1.5rem;
    clear:both;
    font-weight:400;
    text-align:inherit;
    white-space:nowrap;
    background-color:transparent;
    border:0;

}

/* Executor
================================================================*/

.container-header-executor {
    display: flex;
    justify-content: space-between;
}

.bag-nav {
    margin: 10px 0px 10px 10px;
    width: 30px;
    height: 30px;
    background-image: url(../icons/bag.svg);
    background-repeat: no-repeat;
}

.bag-count {
    position: relative;
    top: 5%;
    left: -40%;
    justify-content: center;
}

