.head_container {
    width: 100%;
    min-height: 97px;
    background: #E8E8FF;
}

.tools_container {
    background: #D0F4FF;
    min-height: 50px;
    padding: 0;
}

.line_wrap {
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-pills .nav-link.active {
    font-weight: 500;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    color: #000000;
    text-shadow: 2px -1px 3px rgba(127, 49, 255, 0.25);
    background: #99E7FF;
    box-shadow: -3px 3px 4px rgba(77, 133, 218, 0.41);
}

.user_use {
    margin: auto;
}

.user_use span {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    color: #000000;
}

.tools_font a {
    font-weight: 200;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    color: #000000;
    padding: 0;
}

.tools_font a:hover {
    color: #ff110a;
    background: #99E7FF;
}

a:hover {
    text-decoration: none;
    color: green;
}

.tools_font p {
    margin: 0;
}

.font_header {
    list-style-type: none;
    font-weight: 200;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.font_home {
    font-size: 64px;
    line-height: 78px;
    color: #000000;
    text-shadow: 4px 2px 8px rgb(3 0 172 / 10%);
}

.card_flex {
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.edit {
    display: flex;
    justify-content: space-around;
    margin-right: 15px;
}

.attrs {
    width: 400px;
    margin: 25px 20px 0 0;
    padding: 12px 0 14px;
    overflow: hidden;
    background: rgba(219, 242, 255, 0.48);
    border-radius: 25px;
}

.attrs dt {
    margin: 0;
    width: 125px;
    float: left;
    clear: both;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    color: #000000;
}

.attrs dd {
    margin: 0 5px 0 125px;
    text-align: start;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    padding: 0 0 15px 15px;
    width: 200px;
}

.attrs button {
    border: 0;
    outline: none;
    padding: 0;
    width: 135px;
    height: 35px;
    background: #A2DDD2;
    border-radius: 15px;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #000000;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.attrs button:hover {
    background-color: #fbb1b1;
}

.btn_arch button {
    border: 0;
    outline: none;
    padding: 0;
    width: 135px;
    background: #F0ECFD;
    border-radius: 22px;
    font-weight: 300;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #000000;
}

.btn_arch button:hover {
    background-color: #e0f08f;
}

.add_user a {
    padding: 0;
}

.add_user a:after {
    content: none;
}

.add_user ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    text-align: start;
}

.add_user li {
    padding: 3px;
}

.drop_menu a {
    padding: 0;
}

.active {
    border-bottom: 2px solid rgba(124, 202, 226, 0.65);
    line-height: 2;
}

.active a {
    font-weight: 600;
}

legend {
    display: block;
    width: auto;
    padding: 0 5px;
    margin-bottom: 0;
    font-size: inherit;
    line-height: inherit;
    border-bottom: none;
}
fieldset {
    border: 1px #00BFFF solid;
    padding: 5px 5px 5px 20px;
    margin-bottom: 25px;
    width: 740px;
}

fieldset p {;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}

fieldset input {
    width: 370px;
}

.check input {
    width: auto;
}

.check label {
    padding-left: 10px;
}

.check p {
    margin-left: 20px;
}