.popup-fade {
    display: none;
}
.popup-fade:before {
    content: '';
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 9999;
}

.unlock-form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.popup {
    position: fixed;
    top: 40%;
    left: 50%;
    padding: 20px;
    width: 500px;
    margin-left: -200px;
    background: #fff;
    border: 1px solid orange;
    border-radius: 4px;
    z-index: 99999;
    opacity: 1;
}

.popup-form {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.popup-btn {
    position: relative;
    top: 10px;
    right: 10px;

    color: #E7FFFF;
    font-weight: normal;

    width: 172px;
    height: 38px;

    border: 1px solid #01BDCD;
    border-radius: 34px;

    background: linear-gradient(90deg, #74d0d0, #00aebb);

    transition: 0.8s;

}

.popup-btn:hover {
    background: linear-gradient(90deg, #386c6c, #006068);
    box-shadow: 0 0 13px #7ADCDC;
}
.popup-info {
    position: fixed;
    top: 20%;
    left: 50%;
    padding: 20px;
    width: 500px;
    margin-left: -200px;
    background: #fff;
    border: 1px solid orange;
    border-radius: 4px;
    z-index: 99999;
    opacity: 1;
}
.popup-close-info {
    position: absolute;
}

.popup-text {
    width: 450px;
    height: 50px;
}

.popup__container {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 1, 0.6);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.4s;
}

.popup__container:target {
    opacity: 1;
    visibility: visible;
}

.popup__container:target .popup__content {
    transform: translate(0, 0);
    opacity: 1;
}


.popup__area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.popup__content {
    position: relative;
    background-color: #eff1f0;
    color: #00060c;
    max-width: 700px;
    padding: 10px;

    transition: 0.4s;
    opacity: 0;
    transform: translate(0px, -100%);
}

.popup__close {
    position: absolute;
    right: 5%;
    top: 5%;
    font-size: 16px;
    text-decoration: none;
    color: #000001;
}

.popup__title {
    font-size: 18px;
    font-weight: 500;
    margin: 1em 0 0 0;
}

.popup__text {
    font-weight: 300;
}

.popup-link {
}

