<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body class="bg-light">

<nav th:fragment="tools" class="navbar-expand" style="padding: 0">
    <div class="fon">
        <div class="container-big">
            <ul class="nav nav-justified tools_font">
                <li class="nav-item" th:each="ctg, state : ${categories}">
                    <!--                    Условие на стиль теперь не обращается к списку оборудования для данной категории,-->
                    <!--                    т.к. в случае, когда этот список пуст, вываливалась ошибка-->
                    <!--                    Теперь текущая категория передаётся из контроллера при вызове шаблона-->
                    <a th:class="${ctg.getId() == categoryId}? 'nav-link active' : 'nav-link'"
                       th:href="@{/equipment/{id} ? {activeOnly}(id = ${ctg.id}, activeOnly = ${activeOnly}? 'active-only=on' : '')}">
                        <p th:text="${ctg.name}"></p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div th:fragment="alert" class="alert alert-danger alert-dismissible" role="alert">
    Can't complete operation because of server side error
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

</body>
</html>