<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>

<head th:replace="fragments_guest/header_guest :: head"></head>

<body class="bg-light">

<div th:replace="fragments_guest/header_guest :: header"></div>

<div class="d-flex">
    <div class="content">
        <div th:replace="fragments/tools_menu :: tools"></div>
        <div class="card mb-4">
            <div class="card-body">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1">
                    <label class="custom-control-label" for="customSwitch1">Только доступное</label>
                </div>
                <div class="d-flex flex-wrap justify-content-center">
                    <dl th:each="equ : ${equipments}" class="dl-horizontal attrs">
                        <dt>Название:</dt>
                        <dd th:text="${equ.name}"></dd>
                        <dt>Зав. №:</dt>
                        <dd th:text="${equ.factoryNumber}"></dd>
                        <dt>Свидетельство:</dt>
                        <dd th:text="${equ.verificationNumber}"></dd>
                        <dt>Дата поверки:</dt>
                        <dd th:text="${equ.verificationDateEnd}"></dd>
                        <button type="submit">Взять</button>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:replace="fragments_guest/footer_guest :: scripts"></script>

</body>
</html>