<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>

<link rel="stylesheet" th:href="@{/css/bag.css}">
<link rel="stylesheet" th:href="@{/css/elements.css}">
<head th:replace="fragments/executor/header :: head"></head>
<title>Сумки</title>

<body class="bg-light">

<div th:replace="fragments/executor/header :: header"></div>

<div class="button_arc">
    <button th:id="archive" th:if="${sel}" type="submit">Архив</button>
    <button th:id="back" type="submit">Назад</button>
    <button th:id="backBag" th:if="${sel} == false" onclick="location.href = '/bag/back'">Назад</button>
</div>
<div class="d-flex tools_container">
    <div class="content">
        <div class="card mb-4">
            <div class="card-body">
                <div class="d-flex flex-wrap justify-content-center bag_width">
                    <dl class="dl-horizontal attrs" th:each="equ : ${equipmentsInLastBag}">
                        <div class="container_works">
                            <dt>Название:</dt>
                            <dd th:text="${equ.name}"></dd>
                            <dt>Зав. №:</dt>
                            <dd th:text="${equ.factoryNumber}"></dd>
                            <dt>Свидетельство:</dt>
                            <dd th:text="${equ.verificationNumber}"></dd>
                            <dt>Дата поверки:</dt>
                            <dd th:text="${equ.verificationDateEnd}"></dd>
                            <div th:if="${sel}">
                                <form class="form-group" method="POST" th:action="@{'/bag/get/' + ${equ.id}}">
                                    <button class="butt butt-center bColor_red" type="submit">Выложить</button>
                                </form>
                            </div>
                        </div>
                    </dl>
                </div>
                <div class="attrs" th:if="${sel}">
                    <form th:if="${equipmentsInLastBag.size() == 0}" class="form-group" th:action="@{/equipment}">
                        <h3 class="text-center">В Вашей сумке нет оборудования</h3>
                        <button class="butt butt-center" type="submit">Добавить</button>
                    </form>
                    <form th:unless="${{equipmentsInLastBag.size() == 0}}" class="form-group" th:action="@{/bag/form}">
                        <button class="butt butt-center" type="submit">Сформировать</button>
                    </form>
                </div>

                <hr>
                <div class="d-flex flex-wrap justify-content-center bag_width">
                    <dl class="dl-horizontal attrs" th:each="bag : ${bagAll}">
                        <div class="container_works">
                            <p class="title_bag">
                                <a th:href="@{'/bag/select/' + ${bag.id}}"
                                   th:text="${bag.name}"></a></p>
                            <dt>Время:</dt>
                            <dd th:text="'с: ' + ${#dates.format(bag.birthTime, 'dd.MM.yyyy HH:mm')} +
                             ' по: ' + ${#dates.format(bag.lifeTime, 'dd.MM.yyyy HH:mm')}"></dd>
                            <dt>Заказчик:</dt>
                            <dd th:text="${bag.work.clientName}"></dd>
                            <hr>
                            <div th:each="bagEq : ${bag.equipments}">
                                <dd th:text="${bagEq.name}"></dd>
                            </div>
                            <div>
                                <form class="form-group" method="POST" th:action="@{'/bag/' + ${bag.id}}"
                                      th:if="${bag.status}" th:method="delete">
                                    <button class="butt butt-center bColor_red butt_small_size" type="submit">Закончить измерения</button>
                                </form>
                            </div>
                        </div>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:replace="fragments/executor/footer :: scripts"></script>
<script>
    $(function () {
        $('dl.attrs').each(function () {
            if ($('label#status', this).text() === 'false') {
                $(this).css('background', 'rgba(128, 128, 128, 0.27)');
                $(this).addClass('hide');
                $('a', this).removeAttr('href');
                $('a', this).removeAttr('style');
            }
        });
        $('button#back').addClass('hide');
    });
    $(function () {
        $('button#archive').on('click', function () {
            $('dl.attrs').each(function () {
                if ($('label#status', this).text() === 'false')
                    $(this).removeClass('hide');
                else
                    $(this).addClass('hide');
            });
            $('button#back').removeClass('hide');
            $('button#archive').addClass('hide');
            $('div.attrs').addClass('hide');
        });
        $('button#back').on('click', function () {
            $('dl.attrs').each(function () {
                if ($('label#status', this).text() === 'true' || $('label#status', this).text() === '')
                    $(this).removeClass('hide');
                else
                    $(this).addClass('hide');
            });
            $('button#back').addClass('hide');
            $('button#archive').removeClass('hide');
            $('div.attrs').removeClass('hide');
        });
    });
</script>
</body>
</html>