<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="stylesheet" th:href="@{/css/equipments.css}">
<head th:replace="fragments/executor/header :: head"></head>
<body class="bg-light">

<div th:replace="fragments/executor/header :: header"></div>

<div class="d-flex tools_container">
    <div class="content">
        <div th:replace="fragments/tools_menu :: tools"></div>
        <div class="card mb-4">
            <div class="card-body">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1">
                    <label class="custom-control-label" for="customSwitch1">Только доступное</label>
                </div>
                <div class="d-flex flex-wrap justify-content-center">
                    <dl th:id="equ-cart" th:each="equ : ${equipments}" class="dl-horizontal attrs">
                        <dt>Название:</dt>
                        <dd th:text="${equ.name}"></dd>
                        <dt>Зав. №:</dt>
                        <dd th:text="${equ.factoryNumber}"></dd>
                        <dt>Свидетельство:</dt>
                        <dd  th:text="${equ.verificationNumber}"></dd>
                        <dt>Дата поверки:</dt>
                        <dd th:id="verDate" th:text="${equ.verificationDateEnd}"></dd>
                        <div th:switch="${equ.getTaken}">
                            <form th:case="${true}" class="form-group"  th:action="@{'/bag/take/' + ${equ.id}}" method="POST">
                                <button id="get" type="submit" >Взять</button>
                            </form>

                            <div th:case="${false}">
                                <div th:switch="${user.lastName == equ.nameUserWhoTakenEquipment}">
                                    <form th:case="${true}" class="form-group" th:action="@{'/bag/get/' + ${equ.id}}" method="POST">
                                        <button id="take" style="background-color: #ffbebe" type="submit">Положить</button>
                                    </form>
                                    <form th:case="${false}" class="form-group">
                                        <button style="background-color: #ffbebe" type="submit" th:text="${equ.nameUserWhoTakenEquipment}"></button>
                                    </form>
                                </div>
                            </div>
                            <form th:case="*" class="form-group" th:action="@{'/bag/take/' + ${equ.id}}" method="POST">
                                <button id="all" type="submit" >Взять</button>
                            </form>
                            <label class="alertlabel" id="needVer">Требует поверки</label>
                        </div>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:replace="fragments/executor/footer :: scripts"></script>
<script >
      $(function () {
            $('.attrs').each(function() {
                if(new Date($('dd#verDate', this).text()) <= new Date()){
                    $(this).css('background-color', '#ffbebe');
                    $('button#get', this).hide();
                    $('button#take', this).hide();
                    $('button#all', this).hide();
                    $('label#needVer', this).show();
                } else {
                    $('label#needVer', this).hide();
                }
            })
      });
</script>
</body>
</html>