<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" th:href="@{/css/popup_window.css}">
<link rel="stylesheet" th:href="@{/css/elements.css}">
<link rel="stylesheet" th:href="@{/css/equipments.css}">
<head th:replace="fragments/executor/header :: head"></head>
<title>Оборудование</title>
<body class="bg-light">

<div th:replace="fragments/executor/header :: header"></div>

<div class="d-flex tools_container">
    <div class="content">
        <div th:replace="fragments/tools_menu :: tools"></div>
        <div class="card mb-4">
            <div class="container-menu backcolor">
                <div class="container-menu-equipments">
                    <div class="container-big">
                        <label class="label-checkbox" for="customSwitch1">
                            <input class="input-checkbox" id="customSwitch1" name="active-only" type="checkbox">
                            <span class="equipments-checkbox"></span>
                            <i class="indicator"></i>
                            <span class="text-checkbox"> Доступное оборудование</span>
                        </label>
                    </div>
                </div>
                <div class="container-big">
                    <div class="container-equipments">
                        <dl th:id="equ-cart" th:each="equ : ${equipments}" class="equipment">
                            <div class="container-equipments">
                                <div>
                                    <div class="bigName">
                                        <dd  th:text="${equ.name}"></dd>
                                    </div><hr>
                                    <dt>Зав. №: </dt>
                                    <dd th:text="${equ.factoryNumber}"></dd>
                                    <dt>Свидетельство: </dt>
                                    <dd th:text="${equ.verificationNumber}"></dd>
                                    <dt>Дата поверки: </dt>
                                    <dd id="verDate" th:text="${#dates.format(equ.verificationDateEnd, 'dd.MM.yyyy')}"></dd>
                                    <hr>
                                </div>
                            </div>
                            <div th:if="${equ.commentary == null}" th:switch="${equ.getTaken}" class="display-flex">
                                <form th:case="true" class="form-group"  th:action="@{'/bag/take/' + ${equ.id}}" method="POST">
                                    <button type="submit" >Взять</button>
                                </form>
                                <button th:case="false" class="busy" type="submit" th:text="${equ.nameUserWhoTakenEquipment}"></button>
                                <form th:case="null" class="form-group" th:action="@{'/bag/take/' + ${equ.id}}" method="POST">
                                    <button type="submit" >Взять</button>
                                </form>
                                <label class="alertlabel" id="needVer">Требует поверки</label>
                            </div>
                            <div th:unless="${equ.commentary == null}">
                                <label class="alertlabel" style="display: block;">Заблокировано</label>
                                <button class="popup-open" type="button" style="margin-top: 15px;">Причина</button>
                                <div class="popup-fade">
                                    <div class="popup">
                                        <a class="popup-close" href="#">Закрыть</a>
                                        <p style="text-align: center; font-weight: 500; font-size: large;"
                                           th:text="${equ.commentary.comment}"></p>
                                    </div>
                                </div>
                            </div>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:replace="fragments/executor/footer :: scripts"></script>
<script >
      var date = new Date();
      var dateForAlert = new Date();
      dateForAlert.setDate(date.getDate() + 30);
      $(function () {
            $('.attrs').each(function() {
                if(new Date($('dd#verDate', this).text()) <= dateForAlert) {
                    if(new Date($('dd#verDate', this).text()) <= date){
                        $(this).css('background-color', '#ffbebe');
                        $('button', this).hide();
                        $('label#needVer', this).show();
                    } else {
                        $(this).css('background-color', '#f3de82e8');
                        $('dd#verDate', this).css('color', '#ff110a');
                    }
                }
            })
      });
      $(document).ready(function ($) {
          $('.popup-open').click(function () {
              $('.popup-fade').fadeIn();
              return false;
          });

          $('.popup-close').click(function () {
              $(this).parents('.popup-fade').fadeOut();
              return false;
          });

          $(document).keydown(function (e) {
              if (e.keyCode === 27) {
                  e.stopPropagation();
                  $('.popup-fade').fadeOut();
              }
          });

          $('.popup-fade').click(function (e) {
              if ($(e.target).closest('.popup').length === 0) {
                  $(this).fadeOut();
              }
          });
      });
</script>
</body>
</html>