<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<link rel="stylesheet" th:href="@{/css/popup_window.css}">
<link rel="stylesheet" th:href="@{/css/works.css}">
<head th:replace="fragments/executor/header :: head"></head>
<title>Работа</title>

<body class="bg-light">

<div th:replace="fragments/executor/header :: header"></div>

<div class="button_arc">
    <button th:id="archive" type="submit">Архив</button>
    <button th:id="back" class="hide" type="submit">Назад</button>
</div>
<div class="d-flex justify-content-center">
    <div class="work_attrs">
        <dl data-toggle="modal" data-target="#exampleModal" th:onmouseover="onMouseOver(/*[[${wor.additionalInformation}]]*/)"
            class="dl-horizontal work_head"th:each="wor : ${work}">
            <div class="">
                <dt>№ заявки:</dt>
                <dd th:text="${wor.id}"></dd>
                <dt>Заказчик:</dt>
                <dd th:text="${wor.clientName}"></dd>
                <dt>Дата регистрации:</dt>
                <dd th:text="${#dates.format(wor.registrationDate, 'dd.MM.yyyy')}"></dd>
                <dt>Договор:</dt>
                <dd th:text="${wor.numberContract}"></dd>
                <dt>Объект:</dt>
                <dd th:text="${wor.objectName}"></dd>
                <dt>Срок:</dt>
                <dd th:text="${#dates.format(wor.deadline, 'dd.MM.yyyy')}"></dd>
                <dt>Команда:</dt>
                <dd class="d-flex justify-content-between add_user">
                    <div>
                        <ul th:id="team">
                            <li th:each="user : ${wor.users}" th:text="${user.lastName}"></li>
                        </ul>
                    </div>
                    <div class="icon_plus_user" th:id="addU" th:if="${wor.getWorkStatus().getName() == 'NEW'}">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                            <i aria-hidden="true" class="fa fa-user-plus"></i>
                        </a>
                        <div>
                            <ul aria-labelledby="logged-in-username"
                                class="dropdown-menu dropdown-menu-right drop_menu">
                                <li th:id="menu"><a class="dropdown-item" style="display:block;"
                                                     th:each="usr : ${users}"
                                                     th:href="@{/work/user/{workId}/{userId}(userId=${usr.id}, workId=${wor.id})}"
                                                     th:text="${usr.getLastName()}"></a></li>
                            </ul>
                        </div>
                    </div>
                </dd>
            </div>
            <div th:switch="${wor.getWorkStatus().getName()}">
                <form method="POST" th:action="@{/work/{id}/done(id=${wor.id})}" th:case="${'NEW'}">
                    <button type="submit">На проверку</button>
                </form>
                <label class="good" th:id="onCheck" th:case="${'ON_CHECK'}">На проверке</label>
                <label class="good" th:id="completed" th:case="${'COMPLETED'}" style="background: rgb(208 208 208);">Выполнено</label>
                <label style="display: none" th:id="status" th:text="${wor.getWorkStatus().getName()}"></label>
            </div>
        </dl>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Доп. инфо:</h5>
                </div>
                <div th:id="additionalInformation" class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:replace="fragments/executor/footer :: scripts"></script>
<script>
     function onMouseOver(info){
        $('#additionalInformation').text(info);
    }
</script>
<script>
    $(function () {
        $('.work_head').each(function () {
            if ($('label#onCheck', this).text() === 'На проверке'){
                $(this).css('background-color', 'rgb(138 249 152 / 48%)');
                $('label#onCheck', this).css('background-color', 'rgb(123 236 121 0)');
            }
            if ($('label#completed', this).text() === 'Выполнено') {
                $(this).css('background-color', 'rgb(208 208 208)');
                $('label#completed', this).css('background-color', 'rgb(208 208 208 0)');
                $(this).hide();
                $('button#back').hide();
            }
        })
    });
    $(function () {
        $('.add_user').each(function () {
            const master = this;
            $('#addU a', master).on('click', function () {
                $('#team li', master).each(function () {
                    const te = this;
                    $('#menu a', master).each(function () {
                        if ($(this).text() === $(te).text()) {
                            $(this).hide();
                        }
                    })
                })
            })
        });
    });
    $(function () {
        $('button#archive').on('click', function () {
            $('dl.work_head').each(function () {
                if ($('label#status', this).text() === 'COMPLETED')
                    $(this).show();
                else
                    $(this).hide();
            });
            $('button#back').show();
            $('button#archive').hide();
        });
        $('button#back').on('click', function () {
            $('dl.work_head').each(function () {
                if ($('label#status', this).text() !== 'COMPLETED')
                    $(this).show();
                else
                    $(this).hide();
            });
            $('button#back').hide();
            $('button#archive').show();
        });
    });
</script>
</body>
</html>