<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.2/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootadmin.min.css}">
    <link rel="stylesheet" th:href="@{/css/header_style.css}">
    <link rel="stylesheet" href="https://bootadmin.net/css/datatables.min.css">

    <title>GeekMarket Admin</title>
</head>

<body class="bg-light">

<nav th:fragment="header" class="navbar navbar-expand navbar-light head_container">

    <div class="navbar-collapse collapse">
        <ul class="list-unstyled d-flex justify-content-between align-items-baseline w-100 line_wrap navigation">
            <li>
                <a class="font_home" th:href="@{/}">Optima</a></li>
            <li class="equipments_padding" th:classappend="${activePage == 'Equipments'} ? active">
                <a class="font_header" th:href="@{/equipment}">Оборудование</a></li>
            <li th:classappend="${activePage == 'Works'} ? active">
                <a class="font_header" th:href="@{/work}">Список работ</a></li>
            <li class="users_padding" th:classappend="${activePage == 'Users'} ? active">
                <a class="font_header" th:href="@{/user}">Пользователи</a></li>
            <div class="d-flex">
                <li class="nav-item dropdown">
                    <a href="#" id="logged-in-username" class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-tools fa-2x" style="color: #737475;"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="logged-in-username">
                        <a href="#" class="dropdown-item">Profile</a>
                        @@ -36,6 +41,10 @@
                        </form>
                    </div>
                </li>
                <li class="user_use">
                    <span id="dd_user" sec:authentication="principal.username">Default User</span>
                </li>
            </div>
        </ul>
    </div>
</nav>
@@ -46,6 +55,5 @@
<span aria-hidden="true">&times;</span>
</button>
</div>

<script>
    const menu = document.querySelector('.navigation');
    const anchors = menu.getElementsByTagName('a');

    for (let i = 0; i < anchors.length; i += 1) {
        anchors[i].addEventListener('click', function() { clickHandler(anchors[i]) }, false);
    }

    function clickHandler(anchor) {
        const hasClass = anchor.getAttribute('class');
        if (hasClass !== 'active') {
            anchor.setAttribute('class', 'active');
        }
    }
</script>

</body>
</html>