<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.2/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootadmin.min.css}">
    <link rel="stylesheet" th:href="@{/css/header_style.css}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css">


</head>

<body class="bg-light">

<nav th:fragment="header" class="header">
    <div class="container">
        <div class="header-inner">
            <div th:classappend="${activePage == 'main_chief'} ? active">
                <a class="header-name" th:href="@{/}">Optima</a></li>
            </div>
            <div class="header-nav">
                <a class="header-font" th:href="@{/equipment}"
                   th:classappend="${activePage == 'Equipments'} ? active">Оборудование</a>
                <a class="header-font" th:href="@{/work}"
                   th:classappend="${activePage == 'Works'} ? active">Список работ</a>
                <a class="header-font" th:href="@{/user}"
                   th:classappend="${activePage == 'Users'} ? active">Пользователи</a>
            </div>
            <div class="header-logo">
                <a class="calendar-nav" th:href="@{/calendar}"></a>
                <div class="user-name" id="user-name" sec:authentication="principal.username">Фамилия пользователя</div>
                <a class="container-logout">
                    <form th:action="@{/logout}" method="POST">
                        <input class="logout" type="submit" id="logout"  value="">
                    </form>
                </a>
            </div>
        </div>
    </div>
</nav>



<!--<script>-->
<!--    const menu = document.querySelector('.navigation');-->
<!--    const anchors = menu.getElementsByTagName('a');-->

<!--    for (let i = 0; i < anchors.length; i += 1) {-->
<!--        anchors[i].addEventListener('click', function () {-->
<!--            clickHandler(anchors[i])-->
<!--        }, false);-->
<!--    }-->

<!--    function clickHandler(anchor) {-->
<!--        const hasClass = anchor.getAttribute('class');-->
<!--        if (hasClass !== 'active') {-->
<!--            anchor.setAttribute('class', 'active');-->
<!--        }-->
<!--    }-->
<!--</script>-->

</body>
</html>